name: Matrix Configuration


on:
  push:
  workflow_dispatch:


jobs:
  deploy:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-20.04, windows-latest]      #os unique name
        image: [hello-world, alpine]
        exclude:
          - image: alpine
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Echo Docker Details
        run: docker info

      - name: Run ${{ matrix.image }} on ${{ matrix.os }}
        run: docker run ${{ matrix.image }}
